@model IEnumerable<FlightCompany>
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card">
    <div class="card-header col-lg-12">
        <div class="row">
            <div class="col-md-9">
                <h4>Flight Company List</h4>
            </div>
            <div class="col-md-3 text-right">
                <a asp-action="CreateFlightCompany" asp-controller="Seller" data-toggle="tooltip" title="Add New" data-placement="bottom">
                    <i class="fas fa-plus fa-2x text-muted"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body col-lg-12">
        <table id="flightCompanyTable" class="table table-hover table-responsive-md">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Flight Company Code</th>
                    <th>Flight Company Name</th>
                    <th>Address</th>
                    <th>Created Date</th>
                    <th>Created Ip Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var flightCompany in Model)
                {
                    string bgColor = flightCompany.Status == Convert.ToBoolean(Domain.Enums.Status.Active) ? "success" : "danger";
                    <tr class="@bgColor">
                        <td>
                            <a asp-action="EditFlightCompany" asp-controller="Seller" asp-area="Dashboard" asp-route-id=@flightCompany.Id class="text-success" data-toggle="tooltip" title="Edit" data-placement="bottom">
                                <i class="far fa-edit text-primary"></i>
                            </a>
                        </td>
                        <td>
                            @if (flightCompany.Status == Convert.ToBoolean(Domain.Enums.Status.Active))
                            {
                                <a asp-action="DeleteFlightCompany" asp-controller="Seller" asp-area="Dashboard" asp-route-id=@flightCompany.Id data-toggle="tooltip" title="Delete" data-placement="bottom" class="delete">
                                    <i class="far fa-trash-alt text-danger"></i>
                                </a>
                            }
                        </td>
                        <td>
                            <a asp-action="FlightCompanyDetails" asp-controller="Seller" asp-area="Dashboard" asp-route-id=@flightCompany.Id data-toggle="tooltip" title="Details" data-placement="bottom">
                                <i class="fas fa-bars text-secondary"></i>
                            </a>
                        </td>
                        <td>@flightCompany.FlightCompanyCode</td>
                        <td>@flightCompany.FlightCompanyName</td>
                        <td>@flightCompany.Address</td>
                        <td>@flightCompany.AddedDate.ToShortDateString()</td>
                        <td>@flightCompany.CreatedIpAddress</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $('#flightCompanyTable').DataTable();

            $(".delete").click(function (e) {

                var isOK = confirm("Are you sure you want to delete?")
                if (!isOK) {
                    e.preventDefault();
                }
            });
        });
    </script>

}

