@model IEnumerable<TourOperator>
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}

<div class="card">
    <div class="card-header col-lg-12">
        <div class="row">
            <div class="col-md-9">
                <h4>Tour Operator List</h4>
            </div>
            <div class="col-md-3 text-right">
                <a asp-action="CreateTourOperator" asp-controller="Seller" data-toggle="tooltip" title="Add New" data-placement="bottom">
                    <i class="fas fa-plus fa-2x text-muted"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body col-lg-12">
        <table id="tourOperatorTable" class="table table-hover table-responsive-md">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Tour Operator Code</th>
                    <th>Tour Operator Name</th>
                    <th>Address</th>
                    <th>Created Date</th>
                    <th>Created Ip Address</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tourOperator in Model)
                {
                    string bgColor = tourOperator.Status == Convert.ToBoolean(Domain.Enums.Status.Active) ? "success" : "danger";
                <tr class="@bgColor">
                    <td>
                        <a asp-action="EditTourOperator" asp-controller="Seller" asp-area="Dashboard" asp-route-id=@tourOperator.Id class="text-success" data-toggle="tooltip" title="Edit" data-placement="bottom">
                            <i class="far fa-edit text-primary"></i>
                        </a>
                    </td>
                    <td>
                        @if (tourOperator.Status == Convert.ToBoolean(Domain.Enums.Status.Active))
                        {
                            <a asp-action="DeleteTourOperator" asp-controller="Seller" asp-area="Dashboard" asp-route-id=@tourOperator.Id data-toggle="tooltip" title="Delete" data-placement="bottom" class="delete">
                                <i class="far fa-trash-alt text-danger"></i>
                            </a>
                        }
                    </td>
                    <td>
                        <a asp-action="TourOperatorDetails" asp-controller="Seller" asp-area="Dashboard" asp-route-id=@tourOperator.Id data-toggle="tooltip" title="Details" data-placement="bottom">
                            <i class="fas fa-bars text-secondary"></i>
                        </a>
                    </td>
                    <td>@tourOperator.TourOperatorCode</td>
                    <td>@tourOperator.TourOperatorName</td>
                    <td>@tourOperator.Address</td>
                    <td>@tourOperator.AddedDate.ToShortDateString()</td>
                    <td>@tourOperator.CreatedIpAddress</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $('#tourOperatorTable').DataTable();

            $(".delete").click(function (e) {

                var isOK = confirm("Are you sure you want to delete?")
                if (!isOK) {
                    e.preventDefault();
                }
            });
        });
    </script>

}

