@model IEnumerable<RentACarPrice>
@{
    Layout = "~/Areas/Dashboard/Views/Shared/_DashboardLayout.cshtml";
}
<div class="card">
    <div class="card-header col-lg-12">
        <div class="row">
            <div class="col-md-9">
                <h4>Rent A Car Price List</h4>
            </div>         
        </div>
    </div>
    <div class="card-body col-lg-12">
        <table id="priceTable" class="table table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Car Brand</th>
                    <th>Car Model</th>
                    <th>Year</th>
                    <th>Period</th>             
                    <th>Sale Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var price in Model)
                {
                    string bgColor = price.Status == Convert.ToBoolean(Domain.Enums.Status.Active) ? "success" : "danger";
                <tr class="@bgColor">
                    <td>@price.RentACarCompany.RentACarCompanyName</td>
                    <td>@price.Car.Brand</td>
                    <td>@price.Car.Model</td>
                    <td>@price.Year</td>
                    <td>@price.Period</td>              
                    <td>@price.SalePrice &euro;</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $('#priceTable').DataTable();
        });
    </script>

}

